*.cache
Package Control.*
*.sublime-build
!Preferences.sublime-settings

# Ignore plugins that may or may not have been installed
Color Highlighter/
ColorPicker/
SideBarEnhancements/
oscrypto-ca-bundle.crt
SublimeLinter.sublime-settings
phpfmt.sublime-settings
SFTP.sublime-settings
BufferScroll.sublime-settings
